*{
  margin: 0px;
  padding: 0px;
}
body{
  font-size: 120%;
  background: #2e3033;
}
.header{
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #ef2121;
  text-align: center;
  border: 1px solid #fc0202;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px
}
form,.content{
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ef2121;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
